{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier"],
    "parser": "babel-eslint",
    "env": {
      "browser": true
    },
    "rules": {
      "react/prop-types": 0,
      "import/no-named-as-default": 0,
      "prettier/prettier": "error"
    }
}