{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier"],
    "parser": "babel-eslint",
    "env": {
      "browser": true
    },
    "rules": {
      "react/prop-types": 0,
      "import/no-named-as-default": 0,
      "no-shadow": 0,
      "array-callback-return": 0,
      "no-lonely-if": 0,
      "react/jsx-max-props-per-line": [2, {"maximum": 3, "when": "always" }],
      "prettier/prettier": "error"
    }
}